button {
    background-color: white;
    color: #3A2E92; /* Cor das letras */   
}

.button-container {
    display: flex;
    margin-top: 40px; /* Distância da tabela */
    align-items: center;
    margin-left: 11%; /* distancia dos botoes */
}


.generate-report {
    width: 150px; /* largura dos botões */
    border-radius: 10px; /* Borda arredondada */
    height: 40px;  /* Altura do botão */
    font-weight: bold;  /* Negrito */
    font-size: 15px; /* Tamanho da fonte */
    background-color: white;
    cursor: pointer; /* Garantir que a mãozinha apareça */
    display: flex; /* Para centralizar o texto */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */

}

.generate-report:hover{
    background-color: #f3a323; /* Cor de fundo amarela ao passar o cursor */

}

.button-group {
    display: flex; /* Manter os botões lado a lado */
    justify-content: center; /* Centralizar os botões */
    gap: 40px; /* Espaço entre os botões */
    margin-left: 25%; /* Aumente o valor para mover o grupo mais para a direita */
}

.button-group button {
    width: 150px; /* largura dos botões */ /* O botão ocupará 50% da largura da página */
    height: 40px; /* Altura dos botões */
    font-size: 15px; /* Tamanho da fonte para os botões */
    font-weight: bold; /* Negrito */
    border-radius: 10px; /* Borda arredondada */
    background-color: white;
    display: flex; /* Para centralizar o texto */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    cursor: pointer; /* Garantir que a mãozinha apareça */
}

.button-group button:hover {
    background-color: #F3B823; /* Fundo amarelo para os outros botões ao passar o cursor */
}
