@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.divStock{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 140px;
    margin-bottom: 40px;
    overflow-y: auto;
    max-height: 450px;
    margin-top: 40px;
}

thead{
    width: 800px;
}

thead th {
    font-size: 23px;
}

.gambiarra {
    padding-left: 80px;
}

.gambiarraPeso{
    padding-left: 110px;
}

.gambiarraAlimento{
    margin-right: 100px;
}

.alimento-row{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.divStock::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.divStock::-webkit-scrollbar-track {
    background:#112468;
    border-radius: 10px;
}

.divStock::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #112468;
}

.btn-stock{
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#0D2783;
    border-radius: 30px;
    margin: 10px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    padding: 2px;
}

.btn-stock:hover {
    background-color: #0D2783;
    color: #fff;
    border: 1px solid #0D2783;
}

.btn-stock:focus {
    outline: none;
}


table{
    border-collapse: collapse;
    width: 80%;
    border-radius: 30px;
    margin: 20px 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


th{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

th, td{
    color: #ffff;
    padding: 10px;
}
td{
    height: 100px;
    
}
tbody{
    border-radius: 30px;
    width: 1000px;
}

tbody td {
    width: 1000px;
}
tr{
    border: 1px solid #ffff;
}