.divStock{
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

table{
    border-collapse: collapse;
    width: 80%;
    border-radius: 30px;
    margin: 20px 100px;
    text-align: center;
}

th, td{
    color: #ffff;
    padding: 10px;
}
td{
    height: 100px;
    
}
tbody{
    border-radius: 30px;
}
tr{
    border: 1px solid #ffff;
}