/*Estilizando o Componente */
body{

    /* Aplica fundo azul ao corpo inteiro da página */
    background-color: #3A2E92; /* Azul escuro */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

.navbar {

    display: flex;
    flex-direction: row;
    height: 35px;
    background-color: #112468; /* Cor de fundo amarela */
    width: 100%; /* Ocupa toda a largura da tela */
    position: fixed; /* Mantém a barra fixa no topo da página */
    top: 0; /* Alinha a barra no topo da tela */
    left: 0; /* Começa do lado esquerdo */
    align-items: center; /* Alinha verticalmente os itens no centro */
    padding: 10px;
}
/* Estilo para as imagens na barra de navegação */
.navbar-home p {
    height:34 px; /* Ajuste conforme necessário */ 
    color: #F3B823;
    
    
  
}
.navbar-user {
    height:12 px; /* Ajuste conforme necessário */ 
    margin-left: 91%;
    height: 40px;
    

}

#menu-list{
    display: none;
}

