.dropdown{
    min-width: 15em;
    position: relative;
}

.dropdown *{
    font-weight: bold;
    box-sizing: border-box;
    height: 3.0em;
    display: flex;
    align-items: center;
}

.selecao{
    background: #0D2783;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #F3B823 solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;

}

.selecao-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.selecao:hover{
    background: #112468;
}

.seta{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.seta-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #112468;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #ffffff;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 15em;
    height: 14em;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

menu li:hover{
    background: #0d2c83;
}

.active{
    background: #0d2c83;

}

.menu-open{
    display: block;
    opacity: 1;
}