@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dropdown{
    min-width: 15em;
    position: relative;
    margin-left: 10%;
    color: #fff;
}

.dropdown *{
    box-sizing: border-box;
    height: 3.0em;
    display: flex;
    align-items: center;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.selecao{
    background: #0D2783;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
    border-bottom: 1px solid #fff;

}

.selecao-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}


.seta{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    transform: rotate(0deg); 
}

.seta-rotate{
    transform: rotate(180deg);
}


.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #112468;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #ffffff;
    position: absolute;
    top: 3.5em;
    left: 50%;
    width: 15em;
    height: 14em;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: #0d2c83;
}

.active{
    background: #0d2c83;

}

.menu-open{
    display: block;
    opacity: 1;
}
