* {
    margin: 0;
    padding: 0;
}
 
body {
    margin: 0;
    padding: 0;
}
#direita {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    border: 1px solid rgba(243, 184, 35, 1);
    border-radius: 15px;
    padding: 10px;
     
}
 
.input-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 17px; /* Espaço entre os inputs */
}
 
.input-box input {
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(241, 239, 239, 1);
    padding-left: 65px;
    font-size: 17px;
}
 
.input-box input:focus {
    background-color: rgba(243, 184, 35, 1);
    outline: none;
}
 
.input-box img {
    position: absolute;
    left: 15px;
    width: 25px;
    padding: 9px;
}
 
 
#btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
 
.button-verificar {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    border: 0;
    background-color: rgba(243, 184, 35, 1);
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
}
 
.button-verificar:hover {
    background-color: rgba(3, 0, 1, 0.404);
}
 
#btn a {
    font-size: 15px;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    color: rgba(243, 184, 35, 1);
}
 
#direita h2 {
    color: rgba(243, 184, 35, 1);
    margin-bottom: 40px;
}
 
#form {
    width: 50%; /* Garante que o formulário use toda a largura disponível */
    align-items: center;
}
 