@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.estoque-header {
    width: 100%;
    height:9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    background-color: #112468;
    align-items: center;
}

.estoque-header-esquerda {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: 40px;
    height: 60px; 
    cursor: pointer

}

.estoque-header-esquerda-texto{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: #F3B823;
}

.estoque-header-esquerda-texto:hover{
    color: #0D2783;
}

.estoque-header-direita{
    margin-right: 20px;
}

#logo-header-img {
    padding-top: 5px;
    height: 35px;
}



