@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 58px;
}

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-item {
  display: flex;
  justify-content: center;
  flex: 1 0 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff; 
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  font-size: 30px;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px; 
}

.carousel-prev:hover, .carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-prev:focus, .carousel-next:focus{
  box-shadow: none;
  outline: none;
}