@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#coleta{
    max-width: 100%;
    display:flex;
    justify-content: center;
    background-color: rgba(13, 39, 131, 1);
    color: #F3B823;
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}

#coleta h1{
    margin-top: 90px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}


#endereco {
    background-color: rgba(13, 39, 131, 1);
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    margin: 0px 60px 200px 60px;
    font-family: 'Poppins', sans-serif;
}

#endereço, h2{
    color:#F3B823;  
    padding-left: 10px;
    padding-top:10px;
    font-family: 'Poppins', sans-serif;
}

#endereço, p{
    color:white;
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
}

.titulo{
    display: flex;
    width: 100%;
    line-height: 1;
    margin-bottom: 20px;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.titulo img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.ender {
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%; 
}

