.footer-rb {
    background-color: #0D2783;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-logo {
    padding-top: 100px;
    padding-bottom: 20px;
}

.footer-logo img {
    width: 700px;
}