#header {
    width: 100%;
    height: 20%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    background-color: rgba(13, 39, 131, 1);
}

#esquerda {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: 40px;
    height: 60px; 
}

#logoimg {
    padding-top: 5px;
    height: 65px; 
}

#esquerda p {
    color: rgba(243, 184, 35, 1);
    font-family: 'Poppins', sans-serif;
    margin: 0; 
}
#esquerda {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: 40px;
    height: 40px; 
}
#direit{
    justify-content: center; 
}

#bto {
    background-color: #F3B823; 
    color: #3A2E92; 
    border: none; /
    border-radius: 10px; 
    font-size: 18px; 
    font-weight: bold;
    height: 30px; 
    z-index: 1; 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  
#esquerda p {
    color: rgba(243, 184, 35, 1); 
    font-family: 'Poppins', sans-serif;
}
