@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#header {
    width: 100%; 
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0;
    background-color: #112468;
}

#esquerda {
    display: flex;
    flex-direction: row;
    align-items: center; 
    height: 60px;
    gap: 5px;
    margin: 0;
    padding: 0;
    line-height: 0.5;
}

#logoimg {
    position: absolute;
    top: 6px;
    margin-bottom: 5px;
    height: 45px;  
    margin-left: 25px;
}

#esquerda p {
    color: rgba(243, 184, 35, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-top: 12px;
    position: absolute;
    top: 15px;
    left: 76px;
}

#bto {
    background-color: #F3B823; 
    color: #3A2E92; 
    border: 1px solid #F3B823 ; 
    border-radius: 10px; 
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 200px;
    height: 34px; 
    z-index: 1; 
    position: absolute; 
    right: 20px;
    top: 12px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

#bto:focus{
    box-shadow: none;
    outline: none;
}

