@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.page-erro {
    width: 100vw;
    max-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-page-erro {
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 90vh;
}

.texto-page-erro-titulo {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-size: 18rem;
    color: #F3B823;
}

.texto-page-erro-texto {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-size: 1.3rem;
    color: #fff;
}

/*Footer*/ 

.footer-page-erro {
    background-color: #040F39;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:center;
    align-content: center;
}

.footer-page-erro-texto {
    width: 130px;
    display: flex;
}

.footer-page-erro-texto-h1 {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-size: 0.8rem;
    color: #F3B823;
    text-align: center;
}

.footer-page-erro-logo img {
    max-width: 60%;
    height: auto;
    display: block;

}

.footer-page-erro-logo{
    width: 70px;
    justify-content: center;
    display: flex;
}