.left-panel {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px; 
}

.left-panel h1, .left-panel p {
    text-align: left; 
    margin: 0;
}

.left-panel h1 {
    color: #F3B823;
    padding-left: 15px; 
}

.left-panel p {
    font-size: 18px;
    color: white;
    padding-left: 60px; 
}
