.left-panel {
    flex: 1;
    padding-left: 50px;
}

.left-panel h1 {
    font-size: 48px;
    margin: 0;
    color: #F3B823;
}

.left-panel p {
    font-size: 18px;
    margin-top: 20px;
    max-width: 300px;
}